@font-face {
    font-family: 'RobotoLight';
    src: url('RobotoLight.ttf') format('truetype'),
}

@font-face {
    font-family: 'TTNormsLight';
    src: url('TTNorms-Light.ttf') format('truetype'),
}

html {
    background: #ebecee;
    margin: 0px;
}

body {
    margin: 0px;
    font-family: TTNormsLight;
}

header {
    box-shadow: 0px 0px 20px #ccc;
    height: 105px;
}

.header__main {
    font-family: RobotoLight;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 14px;
}

.header__main-item {
    height: 55px;
}

.wrapper {
    max-width: 1400px;
    margin: 0px auto;
}

.header__main__adress {
    display: flex;
    align-items: center;
}

.header__main__adress img {
    margin-right: 13px;
}

.header__main__calculator {
    display: flex;
    align-items: center;
}

.header__main__calculator img {
    margin-right: 13px;
}

.header__main__clock {
    display: flex;
    align-items: center;
}

.header__main__clock img {
    margin-right: 13px;
}

.header__main__phone {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 40px;
    padding-left: 25px;
}

.header__main__phone.header__main-item img {
    margin-right: 8px;
}

.header__main__logo.header__main-item {
    margin-right: 5px;
}

.headerphone {
    text-decoration: auto;
    color: #929291;
    font-weight: bold;
    font-size: 15px;
}

.header__menu__item:hover {
    background: #484848;
}

.callbackme {
    height: 55px;
    background: #ffa642;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 0px 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.header__menu {
    height: 61px;
    background: #363636;
    padding: 3px 35px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__menu__item {
    height: 61px;
    display: flex;
    align-items: center;
    text-decoration: auto;
    color: white;
    font-size: 14px;
}

.header__menu__item.home {
    height: auto;
}

.maincontent {
    padding-top: 37px;
}

.header__menu__mobile {
    display: none;
    margin: 0px;
    list-style: none;
    position: absolute;
    background: #363636;
    width: 100%;
    padding: 0px;
    text-align: center;
    z-index: 10;
}

.header__main-menu-burger {
    display: none;
}

li.header__menu__mobile__item {
    padding: 10px 0px;
}

.maincontent__homeh2 {
    text-align: center;
    font-size: 2em;
}

.maincontent__listitems__item__button {
    background: #3bbaf1;
    display: block;
    text-align: center;
    width: 136px;
    border-radius: 20px;
    padding: 7px 0px;
    color: white;
    text-decoration: auto;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 130px;
}

.maincontent__listitems__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    position: relative;
    margin: 10px 50px;
}

.maincontent__listitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.maincontent__listitems__item__img {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 190px;
}

.blocktestpechat {
    background: white;
    text-align: center;
    padding: 10px 0px;
}

.blocktestpechat input[type="submit"] {
    background: #3bbaf1;
    border: 0px;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 30px 0px;
}

.blocktestpechat .maincontent__homeh2 {
    margin-bottom: 0px;
}

.blocktestpechat .phone,
.blocktestpechat .name,
.blocktestpechat .tkan {
    border: 0px;
    box-shadow: 1px 1px 6px #d0d0d0;
    width: 300px;
    height: 37px;
    margin: 9px 15px 30px 15px;
    border-radius: 7px;
}

.blocktestpechat .phone {
    background-image: url(./uploads/formtest-phone.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 45px;
}

.blocktestpechat .name {
    background-image: url(./uploads/formtest-name.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 45px;
}

.blocktestpechat .tkan {
    background-image: url(./uploads/formtest-tkan.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 45px;
}

/* footer */

footer {
    background: white;
    padding: 40px 5px;
}

.footer__mainblock {
    display: flex;
    justify-content: space-between;
}

.footer__mainblock__item.footer__mainblock__item__blocklinks {
    display: flex;
    flex-wrap: wrap;
}

.footer__mainblock__item__text {
    margin-top: 20px;
    line-height: 25px;
}

.footer__mainblock__item__listlinks a {
    text-decoration: auto;
    color: black;
}

.footer__mainblock__item__listlinks ul {
    list-style: none;
}

.footer__mainblock__item__listlinks li {
    margin-bottom: 25px;
}

.footer__mainblock__item__call input[type="text"] {
    width: 175px;
    background-image: url(./uploads/footer-phone.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 45px;
    border: 0px;
    height: 52px;
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 40px;
}

.footer__mainblock__item__call input[type="submit"] {
    height: 55px;
    background: #ffa642;
    border-radius: 40px;
    color: white;
    font-size: 12px;
    border: 0px;
    position: relative;
    right: 60px;
    font-weight: bold;
    font-family: 'TTNormsLight';
}

.footer__mainblock__item__social {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

.footer__mainblock__item__social img {
    margin: 0px 4px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__copyright__contact, .footer__copyright__text {
    margin-left: 10px;
}

.footer__copyright__contact a {
    text-decoration: auto;
    color: black;
}

/* endfooter */

@media(max-width: 1400px) {
    header {
        height: auto;
    }

    .maincontent {
        padding-top: 0px;
    }
}

@media(max-width: 1279px) {
    .header__menu__item {
        margin-left: 5px;
        text-align: center;
    }

    .header__menu {
        padding: 3px 10px;
    }

}

@media(max-width: 1245px) {
    .footer__mainblock__item.footer__mainblock__item__blocklinks {
        flex-direction: column;
    }

    .footer__mainblock__item__listlinks ul {
        margin-top: 0px;
    }
}

@media(max-width: 1040px) {
    .header__main__calculator.header__main-item span {
        display: none;
    }

    .header__menu__item.home {
        display: none;
    }

    .footer__mainblock {
        flex-wrap: wrap;
    }

}

@media(max-width: 1005px) {
    .footer__mainblock {
        justify-content: space-around;

    }

    .footer__mainblock__item {
        margin-bottom: 20px;
    }
}

@media(max-width:956px) {
    .header__main__adress.header__main-item {
        display: none;
    }
}

@media(max-width:800px) {
    .header__menu {
        border-radius: 0px;
        justify-content: center;
    }

    .header__main-menu-burger {
        display: block;
    }



    a.header__menu__item {
        display: none;
    }

    .header__menu__mobile__item a {
        text-align: center;
        text-decoration: auto;
        color: white;
    }
}

@media(max-width:745px) {
    .header__main__clock.header__main-item {
        display: none;
    }
}

@media(max-width:544px) {
    .header__main__calculator.header__main-item {
        display: none;
    }

    .blocktestpechat .phone,
    .blocktestpechat .name,
    .blocktestpechat .tkan {
        width: 75%;
    }
}

@media(max-width:470px) {
    .headerphone {
        font-size: 12px;
    }

    .callbackme {
        font-size: 10px;
    }

    .header__main__phone {
        padding-left: 10px;
    }

    .footer__mainblock__item__listlinks ul {
        padding-left: 0px;
    }
}

@media(max-width:413px) {
    .header__main__logo.header__main-item img {
        width: 100px;
    }

    .header__main__logo.header__main-item {
        display: flex;
        align-items: center;
    }

    .callbackme {
        text-align: center;
    }
}

@media(max-width:386px) {
    .footer__mainblock__item__call input[type="submit"] {
        position: absolute;
        right: 35px;
    }
}